Projects/Project-1 Bakery Website/Weekly-Special/weekly-special.html
Projects/Project-1 Bakery Website/Weekly-Special/red-velvet-cookies.jpg
Projects/Project-1 Bakery Website/Weekly-Special/Croissants.jpg
/Projects/Project-1 Bakery Website
/Bakery website
Min-project/microwave/cartoon-kitchen-interior-with-ta.png
Min-project/microwave/ceramic-bowl-presenting-steaming.png
Min-project/microwave/dish.png
