body {
    background-color: bisque;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 30px;
    background-color: #f4f4f4;
    padding: 5px;
    color: #333;
    border: #666;
    border-width: 10px;
    border-style: double;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    padding-left: 5px;
    background-color: #0056b3;
}

.contact {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    padding: 10px;
    border-right: #333;
}

.profile-container {
    border: 5px solid #0056b3;
    float: right;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.profile-container img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skill-category {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    padding-left: 5px;
    background-color: #0056b3;
    color: #0056b3;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}